h1 {
    text-align: center;
    color: aqua;
}

h2 {
    color: #eb9694;
    text-align: center;
}

body {
    background-color: #fff7e9;
}

.tab {
 text-align: center ;
}

.fillerTwo {
  font-style: oblique;
  color: #110f8f;
  font-size: x-large;
}
a:hover {
color: black;
}

a:visited {
    color: black;
  }

  a {
    color: red;
  }

  a:active {
    color: #110f8f;
  }